name: Evergreen Auto Checkin

on:
  schedule:
    - cron: '5 15 * * *' # 한국 시간 오전 12시 05분 (UTC 15:05)
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      workflows: write

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_PAT }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
